service/src/main/webapp/WEB-INF/interface/www.sample.project.com.au/common/messages/1.0/SoapHeader.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by Andy Gray (Orange PCS Ltd) -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
	xmlns:tns="http://www.sample.project.com.au/common/message/SoapHeader/v1" 
	targetNamespace="http://www.sample.project.com.au/common/message/SoapHeader/v1" 
	xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
	version="1.1">
	
	<element name="trackingHeader" type="tns:trackingHeader"/>
	
	<complexType name="trackingHeader">
		<annotation>
			<documentation>The trackingHeader must be present in every SOAP operation input as a SOAP Header.</documentation>
		</annotation>
		<sequence>
			<element name="requestId" minOccurs="0">
				<annotation>
					<documentation>The 32 digit unique id in UUID/GUID style generated by wsoi/wsel  e.g. 72ca0830-d66f-4552-8576-ae273c221460</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<maxLength value="50"/>
					</restriction>
				</simpleType>
			</element>
	
			<element name="timestamp" type="dateTime" minOccurs="0">
				<annotation>
					<documentation>Date and time of the event occurrence</documentation>
				</annotation>
			</element>
		</sequence>		
	</complexType>
</schema>
