service/src/main/webapp/WEB-INF/interface/www.sample.project.com.au/services/model/CountryInfo/1.0/CountryInfo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.project.com.au/services/model/CountryInfo/v1" xmlns:tns="http://www.sample.project.com.au/services/model/CountryInfo/v1" elementFormDefault="qualified">
    <complexType name="CountryInfo">
    	<sequence>
    		<element name="name" type="string"></element>
    		<element name="id" type="string"></element>
    		<element name="code" type="string"></element>
    	</sequence>
    </complexType>
</schema>